DB_URL=jdbc:mysql://localhost:3306/maiditquick?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=1234
JWT_SECRET=replace-with-a-minimum-32-byte-base64-secret
CORS_ORIGIN=http://localhost:5173
ADMIN_BOOTSTRAP_EMAIL=a.k.bharati019@gmail.com
ADMIN_BOOTSTRAP_PASSWORD=123456789101
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_STARTTLS=false
MAIL_SSL=false
RESET_URL=https://localhost:5173
